In [227]:
import pandas as pd

In [228]:
#reading jobid csv file

df=pd.read_csv("jobid.csv")
df

     Unnamed: 0          id
0             0  3356489728
1             1  3384190982
2             2  3358289927
3             3  3350310925
4             4  3376173071
..          ...         ...
591         591  3366526958
592         592  3083067376
593         593  3371585523
594         594  3380684789
595         595  3377604602

[596 rows x 2 columns]

In [230]:
# creating a list of job id dataframe

li=df.id.values.tolist()

In [231]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
import requests
from time import sleep

In [232]:
chrome_options = Options()
chrome_options.add_experimental_option("detach",True)
driver = webdriver.Chrome(options=chrome_options)
path=r"D:\Win_32_driver\chromedriver_win32"

In [233]:
driver.get('https://www.linkedin.com/login')
sleep(3)

In [234]:
# login into linkedln

username=driver.find_element(By.ID,'username')
username.send_keys('your email')                            ###################################################### <<<<<ADD EMAIL ID HERE 
password=driver.find_element(By.ID,'password')
password.send_keys('your password')                            ###################################################### <<<<<ADD PASSWORD HERE
login_button=driver.find_element(By.CLASS_NAME,'btn__primary--large')
login_button.click()
sleep(5)

In [235]:
project_data=[]

In [236]:
# this loop will give final raw data , but loop execution will take a lot of time maybe more than 45 minutes, depends on length of li list.

for i in li:
    try:
        driver.get(f'https://www.linkedin.com/jobs/view/{i}')
        sleep(2)
        driver.execute_script("window.scrollTo(0,document.body.scrollHeight)")
        sleep(2)

        soup=BeautifulSoup(driver.page_source,"html.parser")
        sleep(1)

        tit=soup.find('h1',class_="t-24 t-bold jobs-unified-top-card__job-title")
        titlee=tit.text.strip()

        com=soup.find('span',class_="jobs-unified-top-card__company-name")
        companyy=com.text.strip()

        loc=soup.find('span',class_="jobs-unified-top-card__bullet")
        locationn=loc.text.strip()

        workplace=soup.find('span',class_="jobs-unified-top-card__workplace-type")
        workplacee=workplace.text.strip()

        applicants=soup.find('span',class_='jobs-unified-top-card__subtitle-secondary-grouping t-black--light')
        applicantss=applicants.text.strip()

        involvement=soup.find('li',class_="jobs-unified-top-card__job-insight")
        involvementt=involvement.text.strip()

        followers=soup.find('div',class_='artdeco-entity-lockup__subtitle ember-view t-16')
        followerss=followers.text.strip()

        a=soup.find('div',class_="t-14 mt5")
        typee=a.text.strip()

        job_dict={
            'job_title':titlee,
            'company':companyy,
            'location':locationn,
            'workplace':workplacee,
            'applicants':applicantss,
            'involvement':involvementt,
            'followers':followerss,
            'industry and employees':typee
            }

        project_data.append(job_dict)
        sleep(2)
    except:
        continue

In [239]:
driver.close()

In [237]:
df=pd.DataFrame(project_data)
df

,job_title,company,location,workplace,applicants,involvement,followers,industry and employees
0,F&A Senior Admin Assistant,UPS,"Pune, Maharashtra, India",On-site,11 hours ago\n \n\n\n ...,Full-time · Mid-Senior level,"1,614,184 followers",Transportation/Trucking/Railroad\n \n ...
1,Content Writing Internship in Gurgaon at Inter...,Internshala,"Gurgaon, Haryana, India",On-site,1 day ago\n \n\n\n ...,Full-time · Internship,"1,103,111 followers",Education Management\n \n 51-2...
2,CarDekho - Territory Head,CarDekho,"Kakori, Uttar Pradesh, India",On-site,2 weeks ago\n \n\n\n ...,Full-time · Director,"87,558 followers","Internet\n \n 1,001-5,000 empl..."
3,Management Trainee - Banking Analyst,HCLTech,"Noida, Uttar Pradesh, India",On-site,3 weeks ago\n \n\n ...,Full-time · Associate,"4,310,955 followers",Information Technology & Services\n \n ...
4,Personal Secretary,Gamut HR Solutions,"Hyderabad, Telangana, India",On-site,4 days ago\n \n\n\n ...,"₹100,000/yr - ₹490,000/yr · Full-time · Entry ...",665 followers,Human Resources\n \n 2-10 empl...
...,...,...,...,...,...,...,...,...
487,Internal Auditor,Deloitte,"Bengaluru, Karnataka, India",On-site,1 week ago\n \n\n ...,Full-time · Mid-Senior level,"11,242,133 followers","Management Consulting\n \n 10,..."
488,Hdfc Limited- Operation- Front Office -Mumbai,HDFC Limited,"Mumbai, Maharashtra, India",On-site,2 weeks ago\n \n\n ...,Full-time · Entry level,"301,489 followers","Financial Services\n \n 1,001-..."
489,Engine Development and Testing,VEGA Intellisoft Pvt Ltd,"Chennai, Tamil Nadu, India",On-site,1 month ago\n \n\n\n ...,Full-time · Entry level,"9,593 followers",Information Technology & Services\n \n ...
490,Video Marketing Lead,VPlayed,"Chennai, Tamil Nadu, India",Hybrid,4 days ago\n \n\n\n ...,Full-time · Mid-Senior level,"1,910 followers",Computer Software\n \n 201-500...
491,Executive-Operations,American Express,"Gurgaon, Haryana, India",Hybrid,3 weeks ago\n \n\n\n ...,Full-time · Entry level,"1,776,386 followers","Financial Services\n \n 10,001..."

In [238]:
# converting dataframe into csv file
df.to_csv("project_database.csv")